</head>
<body>
  <nav id="navbar"> 
    <a class="nav-links"
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >Add Flight</a>
    <a class="nav-links"
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >ALL Flights</a>
  </nav>