<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/main.css">
<%- include('./partials/nav') %>
<main>
  <div class="index-content">
  <h1>Where Are You Going?</h1>

  <div id="homebtn"><a href="/flights/new"><button id="frontpage">New Flights</button></a>
  <a href="/flights"><button id="frontpage">All Flights</button></a>
</div>
  </div>
</main>
