<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Press+Start+2P&family=Roboto:wght@100&family=VT323&display=swap');
    </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body id="index">

  <div class="index-content">
  <h1>Where Are You Going?</h1>

  <div id="homebtn"><a href="/flights/new"><button id="frontpage">New Flights</button></a>
  <a href="/flights"><button id="frontpage">All Flights</button></a>
</div>
  </div>
</body>
</html>
