<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/main.css" />
<%- include('../partials/nav') %>

<main>
<div id="new-content">
  <div class="center-content">
  <h1 id="title-new">Enter a New Flight</h1>
  <form action="/flights" method="POST">
    <label>airline
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
    <label>airport
      <select name="airport" required>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="SAN">SAN</option>
        <option value="LAX">LAX</option>
      </select>
    </label><br>
    <label>flight No.
      <input type="number" name="flightNo" min="999999" max="9999999999" required>
    </label><br>
    <label>departs
      <input type="datetime-local" name="departs" required>
    </label><br>
    <button type="submit" id="submit" required>Add Flight</button>
  </form>
  </div>
</div>
</main>
<%- include("../partials/footer") %>